.form-container {
  background-color: #cccccc;
  border-radius: 20px;
  padding: 100px;
}

input[type=text],
input[type=email],
input[type=password] {
  color: black;
  border-radius: 6px;
  padding: 15px;
  outline: none;
  border: none;
  width: 100%;
}

button,
a.button {
  display: block;
  text-decoration: none;
  text-align: center;
  margin-bottom: 30px;
  color: white;
  background-color: #333333;
  border-radius: 6px;
  padding: 15px;
  width: 100%;
  outline: none;
  border: none;
}

form .error {
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  color: red;
}

.form-footer,
.form-footer a {
  text-align: center;
  color: black;
}