.form-container {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  padding: 100px;
  margin: 100px 0;
}

input[type=text],
input[type=email],
input[type=password] {
  color: black;
  border-radius: 6px;
  padding: 15px;
  outline: none;
  border: none;
  width: 100%;
}

button,
a.button {
  font-weight: bold;
  display: block;
  text-decoration: none;
  text-align: center;
  margin-bottom: 30px;
  color: white;
  background-color: #1ba5c7;
  border-radius: 6px;
  padding: 15px;
  width: 100%;
  outline: none;
  border: none;
}

form .error {
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  color: red;
}

.form-footer {
  text-align: center;
  color: white;
}

.form-footer a {
  color: #37d7ff;
}

.save-div {
  display: flex;
  padding: 20px 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #555;
  justify-content: left;
}

.save-div .image {
  margin-right: 50px;
}

.save-div .image img {
  object-fit: cover;
  width: 100px;
  height: 100px;
}

.save-div h3 {
  margin-bottom: 10px;
}